@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");

html {
  background-color: #34495e;
  color: #ecf0f1;
  overflow: auto;
}
body {
  font-family: "Inconsolata", monospace;
  margin: 0px;
}

.hidden {
  opacity: 0;
}
a,
a:visited {
  color: #16a085;
}
.sorter {
  background-color: #2ecc71;
  color: #ecf0f1;
  border: none;
  padding: 1em;
  margin: 0.5em;
  width: 150px;
}
.active {
  background-color: #d35400;
}
.cover {
  object-fit: cover;
  width: 100%;
  background-color: #34495e;
}
#shelf {
  padding: 0px;
  margin: 0px;
}
.item,
.cover,
.delete-button,
.item-text {
  transition: opacity 0.6s ease-in-out, filter 0.8s ease-in-out,
    color 0.6s ease-in-out, transform 0.8s ease-in-out;
}
.item {
  display: flex;
  position: absolute;
  z-index: 100;
  background-color: darkgray;
  color: #efefef00;
}
.item:hover .cover {
  color: #efefef;
  -webkit-filter: blur(8px) brightness(50%);
  filter: blur(2px) brightness(50%);
}
.item-text {
  z-index: 100;
  color: #efefef00;
  position: absolute;
  padding: 1em;
  top: 0;
  left: 0;
  width: 90%;
}
.item:hover .item-text {
  color: #efefef;
}
.delete-button {
  border: none;
  background-color: #af5548;
  color: #efefef;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
}
.item:hover .delete-button {
  opacity: 80;
}
.title {
  font-size: 1.4em;
}
.developer {
  font-size: 1.3em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1em;
}
.header {
  margin: 1em;
}
