body {
  margin: 1em !important;
}
input {
  font-family: "Inconsolata", monospace;
  background-color: #ecf0f1;
  border: none;
  padding: 1em;
  margin: 1em;
}
input[type="text"],
input[type="date"] {
  min-width: 300px;
}
label {
  margin: 1em;
}
